@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600&display=swap");

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scrollbar-width: 8px; /* works on firefox */
  scrollbar-color: #ddd; /* works on firefox */
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  vertical-align: baseline;
  list-style-type: none;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
  
}

body::-webkit-scrollbar-thumb {
  background-color: #ddd;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.ant-form label {
  font-size: 1.2rem;
}
